---
http_interactions:
- request:
    method: get
    uri: http://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.json?api_key=XXVVtRNYsdh9YmpPz1QGR63ctrjzbA4UPf8Ojpyz&limit=10&location=94102
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Wed, 29 Mar 2017 16:51:45 GMT
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '995'
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":37.7786871,"longitude":-122.4212424,"precision":{"name":"postal_code","types":["postal_code"],"value":5},"station_locator_url":"http://www.afdc.energy.gov/afdc/locator/stations/","total_results":172,"station_counts":{"total":507,"fuels":{"E85":{"total":2},"ELEC":{"total":501,"stations":{"total":166}},"HY":{"total":0},"LNG":{"total":0},"BD":{"total":1},"CNG":{"total":2},"LPG":{"total":1}}},"offset":0,"fuel_stations":[{"access_days_time":"24
        hours daily","cards_accepted":null,"date_last_confirmed":"2017-03-29","expected_date":null,"fuel_type_code":"ELEC","id":44979,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"CCSF-SFMTA","station_phone":"888-758-4389","updated_at":"2017-03-29T09:17:56Z","geocode_status":"200-8","latitude":37.778097,"longitude":-122.422812,"city":"San
        Francisco","intersection_directions":"360 GROVE ST #2; Public Parking Level
        1 - Parking Rates Apply\n360 GROVE ST #3; Public Parking Level 1 - Parking
        Rates Apply\n360 GROVE ST #1; Public Parking Level 1 - Parking Rates Apply\n360
        GROVE ST #4; Public Parking Level 1 - Parking Rates Apply","plus4":null,"state":"CA","street_address":"360
        Grove St","zip":"94102","bd_blends":null,"e85_blender_pump":null,"ev_connector_types":["NEMA520","J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":4,"ev_level2_evse_num":4,"ev_network":"ChargePoint
        Network","ev_network_web":"http://www.chargepoint.com/","ev_other_evse":null,"hy_status_link":null,"lpg_primary":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"ev_network_ids":{"posts":["1:4290","1:4563","1:6838","1:6855"]},"distance":0.09507},{"access_days_time":"24
        hours daily","cards_accepted":null,"date_last_confirmed":"2017-03-29","expected_date":null,"fuel_type_code":"ELEC","id":79330,"groups_with_access_code":"Public","open_date":null,"owner_type_code":null,"status_code":"E","station_name":"DGS
        MAIN","station_phone":"888-758-4389","updated_at":"2017-03-29T08:00:22Z","geocode_status":"200-8","latitude":37.7803588,"longitude":-122.420858,"city":"San
        Francisco","intersection_directions":"505 GW; En[...]
